@font-face {
  font-family: "PPNeueMontreal";
  src: url("https://github.com/abarabonova/test-test/blob/main/test/PPNeueMontreal-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
